@model IEnumerable<CollegeSystem.Models.Course>

<h2>College Courses</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Course Name</th>
            <th>Description</th>
            <th>Duration</th>
            <th>Semester</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.Name</td>
                <td>@course.Description</td>
                <td>@course.Duration</td>
                <td>@course.Semesters</td>
            </tr>
        }
    </tbody>
</table>